	body{
	margin: 0px;
	padding: 0px;
	background-color: #dedede;
}
header{
	background-color: #333333;
	height: 60px;
}
header img{
	height: 40px;
	padding-left: 40px;
	padding-top: 10px;
}
header ul{
	float: right;
}
header li{
	float: left;
}
header a{
	display: block;
	width: 100px;
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}
.main{
	padding-top:20px;	
	background-color: #dedede;
}
img{
	height: 240px;
}
article,aside{
	margin:20px;
	margin-top: 0;
	padding: 20px;
	border: grey solid thin;
	background-color: white;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 15px;
}
h3,.author{
	color: #686a54;
}
.author{
	font-size: 10px;
	font-weight: bold;
}
.text{
	text-indent: 2em;
	font-size: 15px;
	line-height: 25px;
}
article ul{
	list-style-type:none;
	padding-left: 20px;
}
.img{
	height: 115px;
	width: 125px;
	border:#dedede solid thin;
	margin-left: 40px;
	font-size: 8px;
	text-align: center;	
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.img img{
	height: 80px;
}
ol{
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}
.border span{
	font-weight: bold;
}
table  {
	width: 100%;
	border-collapse:collapse;
}
th,td{
	border:1px solid #cdcdcd;
	padding:3px 7px 2px 7px;
}
th{
	text-align: left;
	background-color: #343434;
	color: white;
}
.alt{
	background-color: #cdcdcd;
	color: black;
}
/*aside{
	margin-top: 40px;
	font-size: 10px;
	line-height: 20px;
}*/
aside h3{
	color: black;
	padding:8px;
	padding-left: 15px;
	border-left: 2px solid #dedede;
	font-size: 15px;
}
label{
	width:35%;
	float:left;
	text-align: right;
	padding-right: 15px;
}
aside p{
	margin-left: 36%;
	color:#333333;
}
textarea{
	width: 50%;
	height: 100px;
	margin-bottom: 10px;
}
#sub{
	width: 100%;
	height: 40px;
	background-color: #3355d0;
	font-size: 16px;
	color: white;
	font-weight: bold;
	border:none;
	border-radius: 10px;
}

footer{
	background-color: black;
	height: 60px;
	color: white;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}
.main {
	margin-right:500px;
}
aside{
	position:absolute;
	top:80px;
	right:0px;
	width:440px;
}