
body {
	margin: 0px;
	padding: 0px;
}
#one {
	background-color: #eee;
	overflow: hidden; 
	border: 1px solid blue;
	margin: 20px;
	padding: 20px;
}


#two1 {
	position: absolute;
	background-color: #ffffff;
	width: auto;
	display: block;
	height: 100px;
	float: left;
	border: 1px solid blue;
}
#team {
	margin: 10px;
}
#two11 {
	display: block;
	margin-right: 0px;
	float: left;
}
#two12 {
	margin-top: 0px;
	margin-left: 20px;
	float: left;
}


#two2 {
	position: relative;
	left: 220px;
	margin-right: 360px;
	margin-bottom: 300px;
	background-color: #ffffff;
	border: 1px solid blue;
	padding: 20px;
	padding-top: 0px;
	min-width: 0px;
}


#two3 {
	position: absolute;
	top: 40px;
	right: 40px;
	padding: 20px;
	background-color: #ffffff;
	float: right;	
	border: 1px solid blue;
}
