body{
	margin: 0px;
	padding: 0px;
}


.box{
	width: 892px;
	height: 1386px;
	margin: auto;
	background-color: #c5c6df;
	padding-left: 44px;
	padding-right: 44px;
}
/*----------------------------------*/
.box-header{
	height: 63px;

}
#redbox{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
}
#redbox p{
	width: 110px;
	height: 61px;
	display: table-cell;
	vertical-align: bottom;
	/*与红色背景设置为相同大小 */
	color: #ffffff;
	padding-top: ;
	font-size: 12px;
}
#date {
	position: absolute;
	color: #d45d5c;
	font-size: 12px;
	right: 116px;
	top: 40px;
	margin: 0px;
}
.box-header hr{
	margin: 0px;
	padding: 0px;
	color: #938e8c;
	height: 2px;
}

/*-----------------------------------*/
#intro-text{
	width: 203px;
}
#intro-text hr{
	width: 203px;
	height: 2px
	color:#cc8091;
}
#intro-text span{
	display: block;
}
.intro-text-bigblack{
	font-size: 24px;
	color: #000000;
	text
}