
body{
	margin: 0px;
	padding: 0px;
}


.box{
	width: 892px;
	height: 1386px;
	margin: auto;
	background-color: ;
	padding-left: 44px;
	padding-right: 44px;
}
/*----------------------------------*/
.box-header{
	height: 63px;

}
#redbox{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
}
#redbox p{
	width: 110px;
	height: 61px;
	display: table-cell;
	vertical-align: bottom;
	/*与红色背景设置为相同大小 */
	color: #ffffff;
	padding-top: ;
	font-size: 12px;
}
#date {
	float: right;
	color: #d45d5c;
	font-size: 12px;
	right: 116px;
	margin-top: -28px;
}
.box-header hr{
	margin: 0px;
	padding: 0px;;
	border:1px solid #938e8c ;

}

/*-----------------------------------*/
.box-intro{
	padding-top: 20px;
}
#intro-text{
	width: 203px;
	float: right;
	margin-top: -5px;
}
#intro-text hr{
	width: 203px;
	border:1px solid #cc8091 ;
}
#intro-text span{
	display: block;
}
.intro-text-bigblack{
	font-size: 24px;
	font-family: 微软雅黑;
	color: #000000;
	text-decoration: underline;
	line-height: 40px;
}
.intro-text-smallblack{
	font-size: 12px;
	color: #676767;
	font-family: 楷体;
	line-height: 10px;
}
#intro-text-biggreen{
	font-size: 116px;
	color: #75b86b;
	font-family: 微软雅黑;
	font-style: italic;
	line-height: 120px;
	margin-left: -15px;
}
#intro-text-bigpink{
	font-size: 55px;
	font-family: 微软雅黑;
	color: #cc8091;
}
#intro-text-bigpink{
	height: 70px;
	margin-left: 5px;
}
#intro-text-middlesmall{
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	line-height: 15px;
}
#intro-text-middlepink{
	font-size: 21px;
	color: #cc8091;

}
#intro-text-smallpink{
	font-size: 12px;
	color: #cc8091;
}
/*-----------------------------------------------*/
.box-wwh{
	margin-top: 25px;
}
.box-wwh span{
	display: block;
}
#wwh-left{
	width: 230px;
	float: left;
}
#wwh-middle{
	width: 210px;
	float: left;
	margin-left: 20px;
}
#wwh-right{
	width: 140px;
	float: left;
	margin-left: 20px;
}
#www{
	font-size: 13px;
	margin-top: 40px;
}
#wwh-left-green{
	text-decoration: underline;
	color: #418c59;
	font-size: 16px;
	font-family: 微软雅黑;
	font-weight: bold;
}
#wwh-middle-yellow{
	text-decoration: underline;
	color: #d2994f;
	font-weight: bold;
	font-size: 16px;
}
#wwh-right-pink{
	text-decoration: underline;
	color: #cc7680;
	font-weight: bold;
	font-size: 16px;
}

#www span{
	display: inline-block;
	color: #cd4a48;
	font-style: italic;
}
.wwh-text{
	margin-top: 5px;
	font-family: 微软雅黑;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.7;
}
/*-------------------------------------------------*/
.box-article{
	margin-top: 300px;
	width: 500px;
}
#article-left span{
	display: block;
}